<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Properties>
        <Property name="logFileName">${bundle:application:logging.file}</Property>
    </Properties>

    <Appenders>
<!--        <Console name="ConsoleAppender" target="SYSTEM_OUT">-->
<!--            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>-->
<!--        </Console>-->

        <File name="FileAppender" fileName="${logFileName}">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>

        <RollingFile name="RollingFileAppender"
                     fileName="logs/rolling-application.log"
                     filePattern="logs/rolling-application-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="10MB"/>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
            <DefaultRolloverStrategy max="7"/>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Root level="info">
<!--            <AppenderRef ref="ConsoleAppender"/>-->
            <AppenderRef ref="FileAppender"/>
            <AppenderRef ref="RollingFileAppender"/>
        </Root>

        <Logger name="ru.nikita_sotnikov" level="debug" additivity="false">
<!--            <AppenderRef ref="ConsoleAppender"/>-->
            <AppenderRef ref="FileAppender"/>
        </Logger>

    </Loggers>
</Configuration>
